* {
    text-align: center;
}
body {
    background-image: url(IC405_RC_Full-Leonardo-Orazi.jpeg);
}
h1 {
    color: pink;
}
h2 {
    color: lightblue;
}
h3 {
    color: green;
}
p {
    color: pink;
}
