* {
    text-align: center;
}
body {
    background-image: url(IC405_RC_Full-Leonardo-Orazi.jpeg);
}
h1 {
    color: white;
    font-size: 36pt;
    margin-top:1.5em;
    margin-bottom:0em;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(244, 4, 160);
    filter:blur(0.5px);

}
h2 {
    color: cyan;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    margin-top:1em;
    margin-bottom:1em;
}
h3 {
    color: rgb(244, 4, 160);
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    margin-top:1em;
    margin-bottom:1em;
}
.pic1{
    width:90%;
    border:3.5px dotted cyan;
    border-radius: 50%;
    margin-bottom: 3em;
}
.whoscoming {
    margin-top: 1.5em;
}
.rsvp{
    margin-bottom:3em;
}
a{
    color:white;
    text-shadow: 5px 5px 5px rgb(131, 84, 249);
    filter:blur(0.5px);
    text-decoration: none;
}
.link2{
    color:white;
    text-shadow: 2.5px 2.5px 2.5px cyan;
    filter:blur(0.5px);
    text-decoration: none;
}
p{
    font-size:12pt;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    color:rgb(73, 245, 11);
}

