* {
    text-align: center;
}
body {
    background-image: url(IC405_RC_Full-Leonardo-Orazi.jpeg);
}
h1 {
    color: white;
    font-size: 48pt;
    margin-top:1.5em;
    margin-bottom:0em;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(244, 4, 160);
    filter:blur(0px);
}
h2 {
    color: skyblue;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    margin-top:1em;
    margin-bottom:1em;
}
h3 {
    color: green;
}
.pic1{
    width:90%;
    border:3px dotted skyblue;
    border-radius: 50%;
    margin-bottom: 3em;
}
.whoscoming {
    margin-top: 1.5em;
}
.rsvp{
    margin-bottom:3em;
}
a{
    color:white;
}
p{
    font-size:12pt;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    color:lightgreen;
}

