* {
    text-align: center;
}
body {
    background-image: url(IC405_RC_Full-Leonardo-Orazi.jpeg);
}
h1 {
    color: pink;
    margin-top:1.5em;
    margin-bottom:1.5em;
}
h2 {
    color: lightblue;
}
h3 {
    color: green;
}
p {
    color: pink;
}
.pic1{
    width:65%;
    border:3px dotted lightblue;
    border-radius: 50%;
}

